<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ECE1779</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>InitializationServlet</servlet-name>
		<servlet-class>ece1779.servlets.InitializationServlet</servlet-class>
		<init-param>
			<param-name>AWSaccessKey</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>AWSsecretKey</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>dbDriver</param-name>
			<param-value>com.mysql.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<param-name>dbURL</param-name>
			<param-value>jdbc:mysql://ece1779winter2015db.cf2zhhwzx2tf.us-east-1.rds.amazonaws.com/ece1779group14</param-value>
		</init-param>
		<init-param>
			<param-name>dbUser</param-name>
			<param-value>group14</param-value>
		</init-param>
		<init-param>
			<param-name>dbPassword</param-name>
			<param-value>8402558225</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitializationServlet</servlet-name>
		<url-pattern>/servlets/InitializationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>ece1779.servlets.LogoutServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/servlets/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>ece1779.servlets.LoginServlet</servlet-class>
		<init-param>
			<param-name>Manager</param-name>
			<param-value>admin</param-value>
		</init-param>
		<init-param>
			<param-name>ManagerPassword</param-name>
			<param-value>admin</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlets/LoginServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>StartAutoScadulingServlet</display-name>
		<servlet-name>StartAutoScadulingServlet</servlet-name>
		<servlet-class>ece1779.servlets.StartAutoScadulingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartAutoScadulingServlet</servlet-name>
		<url-pattern>/StartAutoScadulingServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ManualShrinkServlet</display-name>
		<servlet-name>ManualShrinkServlet</servlet-name>
		<servlet-class>ece1779.servlets.ManualShrinkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManualShrinkServlet</servlet-name>
		<url-pattern>/ManualShrinkServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ManualGrowServlet</display-name>
		<servlet-name>ManualGrowServlet</servlet-name>
		<servlet-class>ece1779.servlets.ManualGrowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManualGrowServlet</servlet-name>
		<url-pattern>/ManualGrowServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>StopAutoScadulingServlet</display-name>
		<servlet-name>StopAutoScadulingServlet</servlet-name>
		<servlet-class>ece1779.servlets.StopAutoScadulingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StopAutoScadulingServlet</servlet-name>
		<url-pattern>/StopAutoScadulingServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>DeleteServlet</display-name>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>ece1779.servlets.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
</web-app>